body
{
    background-color: #333;
}
.navybar
{
    background-color: black;
    margin-top: 10px;
    border-radius: 80px;
    z-index: 100;
    opacity: 0.67;
}
.navbarfault
{
    display: flex;
    flex-direction: column;
    flex-direction: row;
    align-items: center;
    
}
.video
{
    opacity: 0.2;
}
.words
{
    text-align: center;
    font-size: 36px;
    color: #fff;
    position: absolute;
    top: 480px;
    font-family: cursive;
    opacity: 0.6;
}
.words1
{
    text-align: center;
    font-size: 80px;
    color: #fff;
    position: absolute;
    top: 300px; 
    left: 500px;
    mix-blend-mode: screen;
    padding: 20px;
    background: #000;
    opacity: 0.4;
}
.btn
{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    position: absolute;
    flex: 1;
    top: 700px; 
    left: 500px;
    mix-blend-mode: screen;
    padding: 20px;
    background: rgb(255, 255, 255);
    opacity: 0.4;
    border-radius: 80px;
}
.btn1
{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    position: absolute;
    flex: 1;
    top: 700px; 
    left: 780px;
    mix-blend-mode: screen;
    padding: 20px;
    background: rgb(255, 255, 255);
    opacity: 0.4;
    border-radius: 80px;
}

.hello
{
    color: rgb(255, 255, 255);
}
.navbar
{
    color: rgb(255, 254, 254);
    flex: 1;
    text-align: left;
    
}
nav ul
{
    display: inline-block;
    list-style: none;
    margin: 20px 10px;
    
}
nav ul a 
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: rgb(39, 37, 38);
    border-radius: 50px;
    padding: 10px;
    width: 100%;
    
}
nav ul a:hover
{
    color: rgb(5, 5, 5);
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  
/* cards */
.container2 {
    height: 100vh;
    width: 100vw;
    max-height: 800px;
    max-width: 1280px;
    min-height: 600px;
    min-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    
  }
  .border {
    height: 379px;
    width: 390px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
  }
  .border:hover {
    border: 1px solid #fff;
  }
  .card {
    height: 379px;
    width: 300px;
    background: #808080;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: #000;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .card0 {
    background: url("pankaj.jfif") center center no-repeat;
    background-size: 400px;
  }
  .card0:hover {
    background: url("pankaj.jfif") left center no-repeat;
    background-size: 600px;
  }
  .card0:hover h2 {
    opacity: 1;
  }
  .card0:hover .fa {
    opacity: 1;
  }
  .card1 {
    background: url("simran.jpg") center center no-repeat;
    background-size: 400px;
  }
  .card1:hover {
    background: url("simran.jpg") left center no-repeat;
    background-size: 500px;
  }
  .card1:hover h2 {
    opacity: 1;
  }
  .card1:hover .fa {
    opacity: 1;
  }
  .card2 {
    background: url("sarthak.jpg") center center no-repeat;
    background-size: 400px;
  }
  .card2:hover {
    background: url("sarthak.jpg") left center no-repeat;
    background-size: 600px;
  }
  .card2:hover h2 {
    opacity: 1;
  }
  .card2:hover .fa {
    opacity: 1;
  }
  h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
  }
  .fa {
    opacity: 0;
    transition: opacity 1s;
  }
  .icons {
    position: absolute;
    fill: rgb(255, 255, 255);
    color: rgb(74, 89, 218);
    height: 130px;
    top: 226px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .mentor
  {
    color: rgb(219, 213, 213);
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 38px;
    text-align: center;
    opacity: 0.4;
    border-radius: 50px;
    background-color: rgb(42, 43, 43);
    
  }
.map
{
  height: 500px;
  width: 100px;
  position: relative;
  padding: 50px;
  
}
.info
{
  display: flex;
  flex-direction: row;
}
.about
{
  color: #fff;
  font-style: oblique ;
}
.product
{
  color: #fff;
}
.copyright
{
  color: #fff;
  position: absolute;
  left: 128px;
  top: 1830px;
}
.container1
{
  height: 300vh;
    width: 100vw;
    max-height: 300px;
    max-width: 1280px;
    min-height: 300px;
    min-width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color:black;

}
/* testinomail */
body
{
    background: #333;
}

.shadow-effect {
    background: rgb(0, 0, 0);
    padding: 20px;
    height: 400px;
    border-radius: 4px;
    text-align: center;
border:1px solid #ECECEC;
    box-shadow: 0 19px 38px #fff), 0 15px 12px rgba(0,0,0,0.02);

}
.info11
{
  color: rgb(179, 174, 174);
  opacity: .7;
}
#customers-testimonials .shadow-effect p {
    font-family: inherit;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}
.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #dae1e7;
    padding: 10px 10px;
    border-radius: 12px;
    text-align: center;
    color: rgb(255, 254, 254);
    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}
#customers-testimonials .item1 {
    text-align: center;
    padding: 50px;
        margin-bottom:80px;
    opacity: .2;
    transform: scale3d(0.8, 0.8, 1);
    transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item1 {
    opacity: 1;
    transform: scale3d(1.0, 1.0, 1);
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 90px;
    margin: 0 auto 17px;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: #ec08b3;
    border-radius: 50px;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots{
display: inline-block;
width: 100%;
text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: #3190E7;
    display: inline-block;
    border-radius: 50px;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
}
.img-circle
{
  box-shadow: 4px 4px 2px rgb(117, 116, 116) ;

}
.testiname
{
  color: #fff;
  font-size: 50px;
  letter-spacing: 3px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nametag
{
  font-size: 14px;
  color: #dae1e7;
}
.nameinfo
{
color: rgb(68, 70, 70);
}


/* footer */
.bloody {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "main" "footer";
  overflow-x: hidden;
  background: #333;
  height: 25vh;
  font-family: "Open Sans", sans-serif;
}
.bloody .footer {
  z-index: 1;
  --footer-background:#000000;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}
.bloody .footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
.bloody .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
          animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
.bloody .footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}
.bloody .footer .content a, body .footer .content p {
  color: #F5F7FA;
  text-decoration: none;
}
.bloody .footer .content b {
  color: white;
}
.bloody .footer .content p {
  margin: 0;
  font-size: 0.75rem;
}
.bloody .footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bloody .footer .content > div > div {
  margin: 0.25rem 0;
}
.bloody .footer .content > div > div > * {
  margin-right: 0.5rem;
}
.bloody .footer .content > div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}
.foname
{
  font-size: 15px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



h1 {
  text-align: center;
  color: #a8a8a8;
  text-shadow: 1px 1px 0 rgb(0, 0, 0);
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}
form input, form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px #e74c3c !important;
  -webkit-box-shadow: 0 0px 2px #e74c3c !important;
  box-shadow: 0 0px 2px #e74c3c !important;
}
form #input-submit {
  color: white;
  background: #e74c3c;
  cursor: pointer;
}
form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
form textarea {
  height: 126px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}


/*progress  */


@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}


@-webkit-keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}

